@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
}

body    {
    font-family: 'Lato', sans-serif;
    background: #3a3a3a;
    color: #fafafa;
}

h1, h2, h3  {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
}

/* style header */

header  {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

header nav  {
    width: 60%;
}

#logo   {
    width: 40%;
    height: 60px;
    font-size: 280%;
}

#menu    {
    height: 60px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1rem;
}

#menu li{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li:hover{
    background-color: #fafafa;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #fafafa;
}
/* style submenu */



/* style main section */

/* style form */

/* style footer */
footer  {
    display: inline-flex;
    width: 100%;
    background-color: lightgray;
    color: #3a3a3a;
}

#contacts   {
    width: 50%;
}

#contacts p{
    font-size: 120%;
}

#social-networks    {
    width: 50%;
    color: #3a3a3a;
}

#social-networks ul{
    list-style-type: none;
}

#social-networks ul li  {
    display: inline-block;
    margin: 0 40px;
    font-size: 280%;
}

#menu ul li{
    display: inline-block;
    margin: 0 20px 0 20px;
}