@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body    {
    font-family: 'Lato', sans-serif;
    background: #3a3a3a;
    color: #fafafa;
}

h1, h2, h3  {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
}

/* style header */

header  {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav  {
    width: 60%;
}

#logo   {
    width: 35%;
    height: 60px;
    font-size: 260%;
}

#menu    {
    height: 60px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1rem;
}

#menu li{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li:hover{
    animation: hover-change 3s;
}

@keyframes hover-change {
    from    {
        background-color: #3a3a3a;
        color: #fafafa;
    }
    to  {
        background-color: #fafafa;
        color: #3a3a3a;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #fafafa;
}

#hero-img   {
    height: 400px;
    width: 100%;
    background: url('../images/mothercrystal.jpg') no-repeat center center;
}
/* style submenu */

aside   {
    font-family: 'Permanent Marker', cursive;
    font-size: 100%;
    float: left;
    width: 30%;
    position: fixed;
    left: 0;
    bottom: 15%;
    line-height: 30px;
}

aside nav a:hover   {
    border-bottom: 1px solid #fafafa;
}

/* style main section */

#main   {
    padding-top: 70px;
    float: right;
    width: 70%;
    line-height: 30px;
    text-align: left;
    font-size: 1.2rem;
}

#main h2{
    font-size: 180%;
    text-align: center;
}

hr  {
    border: 1px solid #fafafa;
    margin: 15px 0;
}

#main img {
    width: 80%;
    margin-bottom: 100px;
}

/* style form */

#form-intro {
    text-align: left;
    font-size: 130%;
    margin: 80px 10%;
    padding: 20px 0 60px 40px;
    background-color: #F8D210;
    color: #3a3a3a;
}

#form-intro h2 {
    text-align: center;
    padding-bottom: 20px;
}

#form-section   {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 150px;
}

#form-section h3    {
    font-size: 160%;
    margin-bottom: 5%;
}

.form-input {
    background: transparent;
    color: #fafafa;
    font-size: 1.6rem;
    width: 25%;
    height: 2rem;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#form-section select   {
    background-color: #3a3a3a;
    color: #fafafa;
    text-align: center;
}

#feedback   {
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    font-size: 1.6rem;
    width: 35%;
    height: 400px;
}

input[type=submit], input[type=reset]   {
    width: 35%;
    height: 50px;
    background-color: #fafafa;
    color: #3a3a3a;
    font-size: 80%;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 20px;
    margin: 5px 0;
}

input[type=submit]:hover, input[type=reset]:hover{
    animation: button-change 3s;
}

@keyframes button-change {
    from    {
        background-color: #fafafa;
        color: #3a3a3a;
    }
    to  {
        background-color: #3a3a3a;
        color: #fafafa;
    }
}

/* style footer */
footer  {
    display: inline-flex;
    width: 100%;
    background-color: lightgray;
    color: #3a3a3a;
}

#contacts   {
    width: 50%;
}

#contacts p{
    font-size: 120%;
}

#social-networks    {
    width: 50%;
    color: #3a3a3a;
}

#social-networks ul{
    list-style-type: none;
}

#social-networks ul li  {
    display: inline-block;
    margin: 0 40px;
    font-size: 280%;
}

/*  media queries  */
/*  for larger to medium screen size from 1200px wide and down    */

@media screen and (max-width: 1300px) {
    header  {
        font-size: 0.8rem;
        flex-direction: column;
    }
    #logo   {
        width: 100%;
        text-align: center;
    }

    header nav {
        width: 100%;
    };
}

/*  for larger to medium screen size from 950px wide and down    */
@media screen and (max-width: 950px) {
    /*  header  */
    #menu   {
        flex-direction: column;
    }

    #menu li{
        width: 100%;
        padding: 10px 0;
    }

    .active {
        background-color: #fafafa;
        color: #3a3a3a;
    }

    #hero-img   {
        margin-top: 30%;
    }

    /*   aside   */
    aside   {
        clear: both;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 180%;
        line-height: 35px;
    }

    /*  main    */
    #main   {
        clear: both;
        width: 100%;
    }
    
    .main-contents  {
        margin: 0 15px;
        line-height: 40px;
    }

    /*  footer  */

    footer {
        flex-direction: column;
        text-align: center;
        line-height: 40px;
    }

    #contacts   {
        width: 100%;
    }

    #social-networks    {
        width: 100%;
    }

    /*  form    */
    .form-input {
        margin-top: 25px;
        width: 90%;
    }

    #feedback   {
        margin-top: 25px;
        width: 90%;
    }

    input[type=submit], input[type=reset] {
        margin-top: 25px;
        width: 90%;
    }
}